{% extends 'main/base.html' %} {% block title %}Sign Up{% endblock%}
{% load crispy_forms_tags %} {% block content %}
{% load static %}

<!-- href="{% static 'css/registration/login-signup.css' %}" -->

{% block css %}
    <link
    rel="stylesheet"
    src="{% static 'css/registration/login-signup.css' %}"
    />
{% endblock %}

<form method="post">
  {% csrf_token %}{{form|crispy}}
  <p>Have an account? Login <a href="/login">Here</a>!</p>
  <div class="div-btn">
    <button type="submit" class="btn btn-success">Register</button>
  </div>
</form>
{% endblock %}
