{% extends 'main/base.html' %} {% block title %}Sign Up{% endblock%}
{% load crispy_forms_tags %} {% block content %}
{% load static %}
{% block css %}
{% endblock %}

<form class="col-7 ms-auto me-auto mt-3" method="post">
  {% csrf_token %}{{form|crispy}}
  <p class="text-align-center" >Have an account? Login <a href="/login">Here</a>!</p>
  <div class="div-btn d-flex justify-content-center">
    <button type="submit" class="btn btn-success col-6 p-1 m-0 mb-3">Register</button>
  </div>
</form>
{% endblock %}
