.div-btn {
  display: flex;
  justify-content: center;
}

form {
  max-width: 400px;
  min-width: 300px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 300px;
}

p {
  text-align: center;
}
