.div-btn {
  display: flex;
  justify-content: center;
}

form {
  max-width: 400px;
  min-width: 300px;
  margin: 50px auto 0 auto;
  background-color: red;
}

button {
  width: 300px;
}

p {
  text-align: center;
}
